<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EnvVar" value="SSIS_Config"/>
    <add key="EnvVarValue"  value="C:\SQLDev\Support\SSIS_Config.dtsConfig" />

    <add key="OLEDBConnStr" value="Data Source=UACTXQAV35.uafc.corp;Initial Catalog=SSIS_Config;Provider=SQLNCLI10.1;Integrated Security=SSPI;Auto Translate=False"/>
    <add key="OLEDBConnName_Config_Database" value="Config_Database"/>

    <add key="SSISVarXMLPath" value="C:\SQLDev\Support\SSISVARIABLES.xml"/>
    <add key="packagetest" value="SSIS_Logging,AGDataMart"/>

  </appSettings>
</configuration>